@import '~/node_modules/bootstrap/scss/bootstrap.scss';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 0.8rem;
}


/* #region UTILITY */

.bg_primary {
    background-color: $forum-primary;
}

.bg_primary_btn {
    background-color: $forum-bg_primary_btn;
}

.bg_light {
    background-color: $forum-section;
}

.btn_primary {
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    text-transform: uppercase;
    border-radius: 5px;
}

.subtitle_section {
    text-transform: uppercase;
    color: $forum-bg_primary_btn;
    font-size: 0.55rem;
    font-weight: bold;
    margin: 0;
    padding: 0.75rem;
}

.text_light_dark {
    color: $forum-text_dark;
}


/* #endregion UTILITY */


/* #region HEADER */

.active {
    width: 16px;
    height: 16px;
    background-color: $forum-primary;
    position: absolute;
    transform-origin: 0;
    left: calc(50% - 8px);
    bottom: -12px;
    transform: rotate(-45deg);
}


/* #endregion HEADER */


/* #region MAIN */

.jumbotrone {
    height: 875px;
    background-image: url('@/assets/img/home_slider_bg.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    .container {
        height: 100%;
        position: relative;
        .get_now {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(0, -50%);
            h1 {
                font-size: 7rem;
                margin-bottom: 0;
            }
            p {
                padding: 1rem 0;
            }
        }
    }
}

.avada_forum {
    padding: 2rem 0;
}

.news {
    .activeBorder {
        background-color: orange;
    }
    .h-2 {
        height: 2px;
    }
    .card-body {
        .data {
            font-size: 0.7rem;
        }
    }
}


/* #endregion MAIN */


/* #region FOOTER */


/* #endregion FOOTER */