@import '~/node_modules/bootstrap/scss/bootstrap.scss';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1rem;
}


/* #region UTILITY */

.bg_primary {
    background-color: $forum-primary;
}

.bg_primary_btn {
    background-color: $forum-bg_primary_btn;
}

.btn_primary {
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
}


/* #endregion UTILITY */


/* #region HEADER */

header {
    .navbar {
        .logo {
            img {
                width: 180px;
                height: 45px;
            }
        }
        li {
            padding: 0 1rem;
            a {
                color: white;
            }
        }
        form {
            button,
            input {
                display: inline-block;
                height: fit-content;
            }
        }
    }
}


/* #endregion HEADER */


/* #region MAIN */


/* #endregion MAIN */


/* #region FOOTER */


/* #endregion FOOTER */